# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo

# Build Artifacts
build_artifacts/
docs-site/
public/
docs/
bin/
obj/
dist/
dist/Cmake/logs/
dist/Ninja/logs/
*.cache
*.log

#CI Specific
Tools/GUI/StackyManager/CIBuild.ps1
